<div class="w-full relative bg-gray-100">
  <div class="flex flex-wrap justify-between">
    <p class="md:m-12 mx-4 mt-4 py-2">
      © CG by Viktoria Isabel Schwarz<br /><span class="text-gray-400"
        >Heimatbahnhof: Fürth</span
      >
    </p>
    <a
      href="https://www.der-kleine-ice.de/spiele/"
      target="_blank"
      rel="noopener"
      ><p
        class="border-2 rounded-sm border-db-button-blue p-2 md:m-12 m-4 hover:cursor-pointer hover:bg-db-button-blue hover:text-white"
      >
        Jetzt Spiele entdecken
      </p></a
    >
  </div>
  <img class="mb-2" src="assets/images/ice-transformed.png" />
</div>
