<div ngClass="full-site">
  <div
    class="flex content-center bg-gray-200 md:mt-12 mt-8 mb-6 md:pl-12 pl-4 md:h-16 h-9"
  >
    <img class="md:h-20 h-12 -mt-2" src="assets/images/cg-logo.png" />
    <p class="md:text-xl text-lg md:pt-5 pt-1 pl-3 font-bold">
      Willkommen in Bayern.
    </p>
  </div>

  <!-- User option 2: login needed, without username, password -->
  <div class="m-auto md:w-3/5 w-4/5 mb-4">
    <h3 class="text-lg font-bold">Ihre geplante Reise:</h3>
    <div class="border-gray-200 shadow pl-5 ml-6 my-4">
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12 text-black">18:30</span>Ankunft Nürnberg Hbf
        </p>
        <div class="answer-div">
          <div>
            <a
              href="https://iris.noncd.db.de/wbt/js/index.html?typ=an&bhf=NN&zugtyp=&platform=&bhfname=&style=ab&via=1&impressum=1&lang=de&SecLang=&zeilen=12&paging=&pagingdauer=&impressum=1"
              rel="noopener"
              target="_blank"
              >Ankünfte & Pünktlichkeiten Nürnberg Hbf
              <img
                style="display: inline; margin-left: 6px"
                src="../assets/fonts/external.png"
                alt=""
                width="18"
            /></a>
          </div>
        </div>
      </app-expandable>
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12">20:00</span>Fürth Brauhaus
        </p>
        <div class="answer-div">
          <div>
            <a
              rel="noopener"
              target="_blank"
              href="https://humbserundfreunde.de/"
              >Humbser&Freunde<img
                style="display: inline; margin-left: 6px"
                src="../assets/fonts/external.png"
                alt=""
                width="18"
            /></a>
          </div>
        </div>
      </app-expandable>
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12">11:00</span>5-Seidla-SteigⓇ
        </p>
        <div class="answer-div">
          <div>
            <a
              href="https://www.fuenf-seidla-steig.de/brauereiwanderung/"
              rel="noopener"
              target="_blank"
              >www.fuenf-seidla-steig.de<img
                style="display: inline; margin-left: 6px"
                src="../assets/fonts/external.png"
                alt=""
                width="18"
            /></a>
          </div>
        </div>
      </app-expandable>
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12">22:00</span>Afterparty
        </p>
        <div class="answer-div">
          <div>
            <p>Heimatbahnhof Fürth</p>
            <iframe
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://www.openstreetmap.org/export/embed.html?bbox=11.001131236553194%2C49.464737126715036%2C11.002096831798553%2C49.466403607457245&amp;layer=mapnik&amp;marker=49.46557037417146%2C11.001614034175873"
              style="border: 1px solid black"
            ></iframe
            ><br /><small
              ><a
                href="https://www.openstreetmap.org/?mlat=49.46557&amp;mlon=11.00161#map=19/49.46557/11.00161"
                >View External Map<img
                  style="display: inline; margin-left: 4px"
                  src="../assets/fonts/external.png"
                  alt=""
                  width="15" /></a
            ></small>
          </div>
        </div>
      </app-expandable>
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12">11:00</span>Brunch
        </p>
        <div class="answer-div">
          <div>
            <p>Heimatbahnhof Fürth</p>
            <iframe
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://www.openstreetmap.org/export/embed.html?bbox=11.001131236553194%2C49.464737126715036%2C11.002096831798553%2C49.466403607457245&amp;layer=mapnik&amp;marker=49.46557037417146%2C11.001614034175873"
              style="border: 1px solid black"
            ></iframe
            ><br /><small
              ><a
                href="https://www.openstreetmap.org/?mlat=49.46557&amp;mlon=11.00161#map=19/49.46557/11.00161"
                >View External Map<img
                  style="display: inline; margin-left: 4px"
                  src="../assets/fonts/external.png"
                  alt=""
                  width="15" /></a
            ></small>
          </div>
        </div>
      </app-expandable>
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12">13:00</span>Fürth Stadtrundgang
        </p>
        <div class="answer-div">
          <div>
            <a href="https://www.openstreetmap.org/relation/62374"
              >Karte Fürth<img
                style="display: inline; margin-left: 6px"
                src="../assets/fonts/external.png"
                alt=""
                width="18"
            /></a>
          </div>
        </div>
      </app-expandable>
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12">14:00</span>Nürnberg Stadtrundgang
        </p>
        <div class="answer-div">
          <div>
            <a
              href="https://www.openstreetmap.org/relation/62780"
              target="_blank"
              rel="noopener"
              >Karte Nürnberg<img
                style="display: inline; margin-left: 6px"
                src="../assets/fonts/external.png"
                alt=""
                width="18"
            /></a>
          </div>
        </div>
      </app-expandable>
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12">20:00</span>Birthday Party
        </p>
        <div class="answer-div">
          <div>
            <p>Heimatbahnhof Fürth</p>
            <iframe
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://www.openstreetmap.org/export/embed.html?bbox=11.001131236553194%2C49.464737126715036%2C11.002096831798553%2C49.466403607457245&amp;layer=mapnik&amp;marker=49.46557037417146%2C11.001614034175873"
              style="border: 1px solid black"
            ></iframe
            ><br /><small
              ><a
                href="https://www.openstreetmap.org/?mlat=49.46557&amp;mlon=11.00161#map=19/49.46557/11.00161"
                >View External Map<img
                  style="display: inline; margin-left: 4px"
                  src="../assets/fonts/external.png"
                  alt=""
                  width="15" /></a
            ></small>
          </div>
        </div>
      </app-expandable>
      <app-expandable>
        <p slot="header" class="font-body text-md">
          <span class="-ml-24 mr-12">13:00</span>Abfahrt Nürnberg Hbf
        </p>
        <div class="answer-div">
          <div>
            <a
              href="https://iris.noncd.db.de/wbt/js/index.html?typ=ab&bhf=NN&zugtyp=&platform=&bhfname=&style=ab&via=1&impressum=1&lang=de&SecLang=&zeilen=12&paging=&pagingdauer=&impressum=1"
              rel="noopener"
              target="_blank"
              >Abfahrten & Pünktlichkeiten Nürnberg Hbf<img
                style="display: inline; margin-left: 6px"
                src="../assets/fonts/external.png"
                alt=""
                width="18"
            /></a>
          </div>
        </div>
      </app-expandable>
    </div>
    <div id="login_none">
      <form class="form-signin w-full px-9" id="terms">
        <div class="m-5">
          <app-terms-cond></app-terms-cond>
        </div>
        <button
          class="border-4 rounded border-db-red bg-db-red hover:border-db-red-dark hover:bg-db-red-dark text-white font-bold py-1 px-9 m-2"
          id="signin_anon"
          type="submit"
        >
          <a href="https://youtu.be/LMaBedTkT0I?t=85"> Enter Weekend </a>
        </button>
      </form>
    </div>
    <div class="block">
      <div class="loader-full" *ngIf="loading">
        <div class="preloader2">
          <div class="roata"></div>
          <div class="roata"></div>
          <div class="osie"><div class="brat"></div></div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
